---
import LayoutCableado from "../layouts/servicios-layout.astro"
---

<!--------------------------------------HTML----------------------------------------------->
<LayoutCableado>

    <div slot="encabezado">
        <h2 class="animate__animated animate__fadeInUp text-orange-500 text-base font-bold uppercase mb-2">
            Cableado Estructurado y Networking
        </h2>
        <h1 class="animate__animated animate__fadeInUp text-4xl lg:text-6xl font-bold mb-4">
            Fortalece tu Conectividad con Nuestras Soluciones Avanzadas de Cableado Estructurado y Networking    
        </h1>
        <p class="animate__animated animate__fadeInUp mt-4 text-gray-600 mb-8 text-lg">
            Diseñamos e implementamos infraestructuras de cableado estructurado y soluciones de networking para garantizar una conectividad robusta y fiable. <br>
            Nuestros servicios cubren desde el cableado de datos hasta la instalación de equipos de red y gestión de servidores. <br>
        </p>
        <div class="animate__animated animate__fadeIn mt-12">
            <img class="mx-auto rounded-lg shadow-lg" height="400" src="https://romelar.es/wp-contenido/uploads/2021/07/5-normativa-del-cableado-estructurado.jpg" width="800"/>
        </div>
    </div>

<!--------------------------------------- VIDEOS APLICATIVOS --------------------------------------------->
    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal1" data-modal-toggle="default-modal1" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            UniFi Dream Machine
        </h2>
        <p class="descripcion_layout text-justify">
            Combinación entre un router , un USG, controlador de red, un access point y un switch en una sola unidad.
        </p>
        <!-- Main modal -->
        <div id="default-modal1" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730148129/b3fsqlf2ngrrcxcgm96s.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal2" data-modal-toggle="default-modal2" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Ubiquiti Unifi
        </h2>
        <p class="descripcion_layout text-justify">
            Plataforma WiFi 7 escalable que ofrece experiencias similares a un cableado físico. Diseñada para adaptarse a entornos específicos.
        </p>
        <!-- Main modal -->
        <div id="default-modal2" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1730148129/b3fsqlf2ngrrcxcgm96s.mp4 " type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal3" data-modal-toggle="default-modal3" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Cisco Devices
        </h2>
        <p class="descripcion_layout text-justify">
            Los dispositivos de Cisco son esenciales para una comunicación empresarial y el acceso correcto a internet.                
        </p>
        <!-- Main modal -->
        <div id="default-modal3" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1731086568/Cisco%20Devices.mp4 " type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal4" data-modal-toggle="default-modal4" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Vertical Cable Manager
        </h2>
        <p class="descripcion_layout text-justify">
            Gestiona cables verticalmente proporcionando almacenamiento de alta densidad que minimiza el área requerida para la red
        </p>
        <!-- Main modal -->
        <div id="default-modal4" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src=" https://res.cloudinary.com/df5olfhrq/video/upload/v1731086801/Vertical%20Cable%20Manager.mp4 " type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/Block_Security/control-acceso">
        Control de Acceso
        <i class="ri-arrow-right-line"></i>
    </a> 

</LayoutCableado>

<style>
/************ ESTILOS PARA ANIMACIÓN ***********/
.video_layout, .subtitulo_layout, .descripcion_layout{
    opacity: 0;
}

.video_layout.animate__animated, .subtitulo_layout.animate__animated, .descripcion_layout.animate__animated{
    opacity: 1;
}
</style>
