---
import LayoutControlAcceso from "../layouts/servicios-layout.astro"
---

<!--------------------------------------HTML----------------------------------------------->
<LayoutControlAcceso>

    <div slot="encabezado">
        <h2 class="animate__animated animate__fadeInUp text-orange-500 text-base font-bold uppercase mb-2">
            Control de Acceso
        </h2>
        <h1 class="animate__animated animate__fadeInUp text-4xl lg:text-6xl font-bold mb-4">
            Protege tus Instalaciones con Nuestros Avanzados Sistemas de Control de Acceso
        </h1>
        <p class="animate__animated animate__fadeInUp mt-4 text-gray-600 mb-8 text-lg">
            Ofrecemos soluciones avanzadas de control de acceso que garantizan la seguridad y protección de sus instalaciones. <br>
            Nuestros sistemas incluyen tarjetas de proximidad, control remoto y más permitiéndole gestionar de manera eficiente quién puede ingresar a sus áreas restringidas. <br>
        </p>
        <div class="animate__animated animate__fadeIn mt-12">
            <img alt="" class="mx-auto rounded-lg shadow-lg" height="400" src="https://blog.nuoplanet.com/hubfs/portada_mejor%20solucion%20control%20de%20accesos_nuo.jpg" width="800"/>
        </div>
    </div>


<!--------------------------------------- VIDEOS APLICATIVOS --------------------------------------------->
    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal1" data-modal-toggle="default-modal1" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            ID Screen
        </h2>
        <p class="descripcion_layout text-justify">
            Tableta biométrica que controla el registro, verificación y procesamiento para el acceso en áreas designadas.                
        </p>
        <!-- Main modal -->
        <div id="default-modal1" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730145832/IDscreen.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal2" data-modal-toggle="default-modal2" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            VisionPass SP
        </h2>
        <p class="descripcion_layout text-justify">
            Control de acceso multifactorial con reconocimiento facial integrado con inteligencia artificial.
        </p>
        <!-- Main modal -->
        <div id="default-modal2" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730135441/sywrhuwalcqorklbzzxa.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal3" data-modal-toggle="default-modal3" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            BioStation 3
        </h2>
        <p class="descripcion_layout text-justify">
            Lector biométrico para administrar el acceso de los visitantes en cualquier momento y lugar.
        </p>
        <!-- Main modal -->
        <div id="default-modal3" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730135803/zqndlb9vlsd37pung1rm.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal4" data-modal-toggle="default-modal4" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Door Station
        </h2>
        <p class="descripcion_layout text-justify">
            Estación inalámbrica con reconocimiento facial, captura videos y permite hablar con visitantes.
        </p>
        <!-- Main modal -->
        <div id="default-modal4" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730135656/gkhjyhbrbiqorin2lk90.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal5" data-modal-toggle="default-modal5" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Transit Ultimate
        </h2>
        <p class="descripcion_layout text-justify">
            Lector moderno de largo alcance. Identificando vehículos y usuarios en condiciones difíciles.
        </p>
        <!-- Main modal -->
        <div id="default-modal5" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730146238/fcblco3pmhmccqxg8fh1.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal6" data-modal-toggle="default-modal6" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Salto JustIN Mobile
        </h2>
        <p class="descripcion_layout text-justify">
            Cerradura inteligente inalámbrica para control de acceso via smartphone.
        </p>
        <!-- Main modal -->
        <div id="default-modal6" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730146300/lmayfkmikiivaewobhmu.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/cableado-estructurado">
        <i class="ri-arrow-left-line"></i>
        Cableado estructurado
    </a> 
                
    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/data-center">
        Data Center
        <i class="ri-arrow-right-line"></i>
    </a> 

</LayoutControlAcceso>

<style>
/************ ESTILOS PARA ANIMACIÓN ***********/
.video_layout, .subtitulo_layout, .descripcion_layout{
    opacity: 0;
}

.video_layout.animate__animated, .subtitulo_layout.animate__animated, .descripcion_layout.animate__animated{
    opacity: 1;
}
</style>
    