---
import LayoutDeteccion from "../layouts/servicios-layout.astro"
---

<!--------------------------------------HTML----------------------------------------------->
<LayoutDeteccion>
    <div slot="encabezado">
        <h2 class="animate__animated animate__fadeInUp text-orange-500 text-base font-bold uppercase mb-2">
            Sistemas de detección de incendio
        </h2>
        <h1 class="animate__animated animate__fadeInUp text-4xl lg:text-6xl font-bold mb-4">
            Protege tu Espacio con Sistemas Avanzados de Detección y Supresión de Incendios
        </h1>
        <p class="animate__animated animate__fadeInUp mt-4 text-gray-600 mb-8 text-lg">
            Proveemos e instalamos sistemas de detección y supresión de incendios para proteger su propiedad y sus ocupantes. <br>
            Nuestros servicios incluyen detectores de humo, alarmas contra incendios; todos diseñados para una rápida respuesta en caso de emergencia. <br>
        </p>
        <div class="animate__animated animate__fadeIn mt-12">
            <img alt="Top view of a workspace with laptops, coffee, and notebooks" class="mx-auto rounded-lg shadow-lg" height="400" src="https://www.firext.es/wp-content/uploads/2017/06/Sistemas-deteccion-alarmas.jpg" width="800"/>
        </div>
    </div>

    <!--------------------------------------- VIDEOS APLICATIVOS --------------------------------------------->
    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal1" data-modal-toggle="default-modal1" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            EST 4
        </h2>
        <p class="descripcion_layout text-justify">
            El sistema EST4 de Edwards es una avanzada plataforma de detección y comunicación de incendios, flexible, segura y compatible con actualizaciones.
        </p>
        <!-- Main modal -->
        <div id="default-modal1" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730147797/mqf365tucrgqnzsoiaa6.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal2" data-modal-toggle="default-modal2" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Signature Optica
        </h2>
        <p class="descripcion_layout text-justify">
            El Signature Optica de Edwards reduce falsas alarmas diferenciando partículas molestas de amenazas reales.
        </p>
        <!-- Main modal -->
        <div id="default-modal2" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730147967/ksakegkxveh7njt5foli.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal3" data-modal-toggle="default-modal3" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Genesis LED Outdoor
        </h2>
        <p class="descripcion_layout text-justify">
            Luz LED resistente, adaptable, segura. Ideal para climas hostiles y húmedos. Lista para cualquier aplicación de seguridad humana.
        </p>
        <!-- Main modal -->
        <div id="default-modal3" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730148017/giq89hsk4uztdnqdlub4.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/Block_Security/data-center">
        <i class="ri-arrow-left-line"></i>
        Data Center
    </a> 
    
    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/Block_Security/distribucion-audio-video">
        Distribución de Audio y Video
        <i class="ri-arrow-right-line"></i>
    </a> 

</LayoutDeteccion>

<style>
/************ ESTILOS PARA ANIMACIÓN ***********/
.video_layout, .subtitulo_layout, .descripcion_layout{
    opacity: 0;
}

.video_layout.animate__animated, .subtitulo_layout.animate__animated, .descripcion_layout.animate__animated{
    opacity: 1;
}
</style>