---
import LayoutControlAcceso from "../layouts/servicios-layout.astro"
---

<!--------------------------------------HTML----------------------------------------------->
<LayoutControlAcceso>
    <div slot="encabezado">
        <h2 class="animate__animated animate__fadeInUp text-orange-500 text-base font-bold uppercase mb-2">
            IoT y Automatización
        </h2>
        <h1 class="animate__animated animate__fadeInUp text-4xl lg:text-6xl font-bold mb-4">
            Optimiza tu Espacio con Soluciones Inteligentes de Automatización y Control IoT
        </h1>
        <p class="animate__animated animate__fadeInUp mt-4 text-gray-600 mb-8 text-lg">
            Transforme su espacio en un entorno inteligente con nuestras soluciones de automatización e IoT. <br>
            Desde la gestión de iluminación y climatización hasta la seguridad y el control de dispositivos, ofrecemos integraciones que mejoran la eficiencia y comodidad de su negocio. <br>
        </p>
        <div class="animate__animated animate__fadeIn mt-12">
            <img alt="Top view of a workspace with laptops, coffee, and notebooks" class="mx-auto rounded-lg shadow-lg" height="400" src="https://blog.nuoplanet.com/hubfs/portada_mejor%20solucion%20control%20de%20accesos_nuo.jpg" width="800"/>
        </div>
    </div>

    <!--------------------------------------- VIDEOS APLICATIVOS --------------------------------------------->
    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal1" data-modal-toggle="default-modal1" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Wireless Sensor
        </h2>
        <p class="descripcion_layout text-justify">
            Swift Sensors ofrece más de 30 tipos de sensores inalámbricos que monitorean equipos, ambiente y energía.
        </p>
        <!-- Main modal -->
        <div id="default-modal1" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730147306/qx46eoqro50ciylkjurm.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal2" data-modal-toggle="default-modal2" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Omniflow
        </h2>
        <p class="descripcion_layout text-justify">
            Infraestructura para proporcionar las futuras aplicaciones de IoT mientras generamos su propia energía.
        </p>
        <!-- Main modal -->
        <div id="default-modal2" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730147488/madngsgdn8hpgp2dcumx.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <div slot="videos" class="text-center">
        <button data-modal-target="default-modal3" data-modal-toggle="default-modal3" class="w-20 h-20 border-8 rounded-full text-center border-orange-400 hover:border-orange-500 transition duration-400 ease-in-out lg:mr-4 " type="button">
            <i class="fa fa-play fa-2x"></i>
        </button>
        <h2 class="subtitulo_layout text-xl font-semibold">
            Automated Logic
        </h2>
        <p class="descripcion_layout text-justify">
            Sistemas de automatización para edificios y negocios, optimizando el control de energía y el confort.
        </p>
        <!-- Main modal -->
        <div id="default-modal3" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-5xl max-h-full">
                <!-- Modal content -->
                <div class="relative">
                    <video class="video_layout w-full h-auto mb-4 rounded-3xl" controls>
                        <source src="https://res.cloudinary.com/df5olfhrq/video/upload/v1730147619/c67usshcbdew8sbkhjpz.mp4" type="video/mp4"/>
                    </video>
                </div>
                
            </div>
        </div>
    </div>

    <a slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/Block_Security/diseno-consultoria">
        <i class="ri-arrow-left-line"></i>
        Diseño y consultoría
    </a> 
    
    <a  slot="navegacion" class="w-auto font-bold text-white bg-orange-400 py-2.5 px-5 rounded-full hover:bg-orange-500 transition duration-400 ease-in-out lg:mr-4" href="/Block_Security/videovigilancia">
        Videovigilancia
        <i class="ri-arrow-right-line"></i>
    </a> 

</LayoutControlAcceso>

<style>
    /************ ESTILOS PARA ANIMACIÓN ***********/
    .video_layout, .subtitulo_layout, .descripcion_layout{
        opacity: 0;
    }
    
    .video_layout.animate__animated, .subtitulo_layout.animate__animated, .descripcion_layout.animate__animated{
        opacity: 1;
    }
</style>