
<!--------------------------------------HTML----------------------------------------------->
<html>

<body class="bg-white">

<!------------------------------------------------------ NUESTROS CLIENTES ------------------------------------------------------>
<div class="container3">

    <hr class="animate__animated animate__fadeInUp w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700">

    <h1 class="titulo_clientes text-gray-600 text-center py-12 text-4xl lg:text-5xl font-semibold">Nuestros Clientes</h1>

    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-4 p-4">

        <div class="logo1 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-48" src=" /public/images/empresas/logo1.png" alt="">
        </div>

        <div class="logo2 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-36" src=" /public/images/empresas/logo2.png" alt="">
        </div>

        <div class="logo3 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-52" src=" /public/images/empresas/logo3.png" alt="">
        </div>

        <div class="logo4 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-28" src=" /public/images/empresas/logo4.png" alt="">
        </div>

        <div class="logo5 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-32" src=" /public/images/empresas/logo5.png" alt="">
        </div>

        <div class="logo6 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-16" src=" /public/images/empresas/logo6.png" alt="">
        </div>

        <div class="logo7 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-20" src=" /public/images/empresas/logo7.png" alt="">
        </div>

        <div class="logo8 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-36" src=" /public/images/empresas/logo8.png" alt="">
        </div>

        <div class="logo9 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-20" src=" /public/images/empresas/logo9.png" alt="">
        </div>

        <div class="logo10 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-40" src=" /public/images/empresas/logo10.png" alt="">
        </div>

        <div class="logo11 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-20" src=" /public/images/empresas/logo11.png" alt="">
        </div>

        <div class="logo12 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
            <img class= "h-28" src=" /public/images/empresas/logo12.png" alt="">
        </div>

      </div>
    </div>
</div>

<!------------------------------------------------------ PROVEEDORES ------------------------------------------------------>
<div class="container3 py-12">

    <hr class="animate__animated animate__fadeInUp w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700">

    <h1 class="titulo_proveedores text-center text-gray-600 py-12 text-4xl lg:text-5xl font-semibold">Soporte de múltiples <br>
        proveedores</h1>

    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-4 p-4">

            <div class="logo13 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-28" src=" /public/images/proveedores/logo13.png" alt="">
            </div>
            
            <div class="logo14 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-14" src=" /public/images/proveedores/logo14.png" alt="">
            </div>
            
            <div class="logo15 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-16" src=" /public/images/proveedores/logo15.png" alt="">
            </div>
            
            <div class="logo16 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src=" /public/images/proveedores/logo16.png" alt="">
            </div>
            
            <div class="logo17 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-16" src=" /public/images/proveedores/logo17.png" alt="">
            </div>
            
            <div class="logo18 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src=" /public/images/proveedores/logo18.png" alt="">
            </div>
            
            <div class="logo19 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-28" src=" /public/images/proveedores/logo19.png" alt="">
            </div>
            
            <div class="logo20 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src=" /public/images/proveedores/logo20.png" alt="">
            </div>
            
            <div class="logo21 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-20" src=" /public/images/proveedores/logo21.png" alt="">
            </div>
            
            <div class="logo22 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-36" src=" /public/images/proveedores/logo22.png" alt="">
            </div>
            
            <div class="logo23 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-16" src=" /public/images/proveedores/logo23.png" alt="">
            </div>
            
            <div class="logo24 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-11" src=" /public/images/proveedores/logo24.png" alt="">
            </div>
            
            <div class="logo25 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-36" src=" /public/images/proveedores/logo25.png" alt="">
            </div>
            
            <div class="logo26 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-12" src=" /public/images/proveedores/logo26.png" alt="">
            </div>
            
            <div class="logo27 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-20" src=" /public/images/proveedores/logo27.png" alt="">
            </div>
            
            <div class="logo28 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-20" src=" /public/images/proveedores/logo28.png" alt="">
            </div>
            
            <div class="logo29 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-28" src=" /public/images/proveedores/logo29.png" alt="">
            </div>
            
            <div class="logo30 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-14" src=" /public/images/proveedores/logo30.png" alt="">
            </div>
            
            <div class="logo31 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src=" /public/images/proveedores/logo31.png" alt="">
            </div>
            
            <div class="logo32 flex items-center justify-center p-4 text-white rounded-lg shadow-md">
                <img class="h-24" src=" /public/images/proveedores/logo32.png" alt="">
            </div> 

        </div>
    </div>
</div>

<!-----------------------------------------BODY MAIN---------------------------------------------->
    </main>
</body>
</html>

<!--------------------------------------ESTILOS CSS----------------------------------------------->
<style>
/************ NUESTROS SERVICIOS ************/

.divider {
    margin: 2rem 0;
}

.contenedor{
    position: relative;
    text-align: center;
}

.imagenFondo{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);  /* 60% de brillo */
    height: 493px; 
    padding-bottom: 60px;
}

.botonServicio{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background-color: #f47d1f;
    padding: 18px;
    font-weight: bold;
}

/************ ESTILOS PARA ANIMACIÓN ***********/
.titulo_clientes, 
.logo1,
.logo2, 
.logo3, 
.logo4, 
.logo5, 
.logo6, 
.logo7, 
.logo8, 
.logo9, 
.logo10, 
.logo11, 
.logo12,
.logo13,
.logo14,
.logo15,
.logo16,
.logo17,
.logo18,
.logo19,
.logo20,
.logo21,
.logo22,
.logo23,
.logo24,
.logo25,
.logo26,
.logo27,
.logo28,
.logo29,
.logo30,
.logo31,
.logo32,
.titulo_proveedores{
    opacity: 0;
}


.titulo_clientes.animate__animated, 
.logo1.animate__animated, 
.logo2.animate__animated,
.logo3.animate__animated,
.logo4.animate__animated,
.logo5.animate__animated,
.logo6.animate__animated,
.logo7.animate__animated,
.logo8.animate__animated,
.logo9.animate__animated,
.logo10.animate__animated,
.logo11.animate__animated,
.logo12.animate__animated,
.logo13.animate__animated,
.logo14.animate__animated,
.logo15.animate__animated,
.logo16.animate__animated,
.logo17.animate__animated,
.logo18.animate__animated,
.logo19.animate__animated,
.logo20.animate__animated,
.logo21.animate__animated,
.logo22.animate__animated,
.logo23.animate__animated,
.logo24.animate__animated,
.logo25.animate__animated,
.logo26.animate__animated,
.logo27.animate__animated,
.logo28.animate__animated,
.logo29.animate__animated,
.logo30.animate__animated,
.logo31.animate__animated,
.logo32.animate__animated,
.titulo_proveedores.animate__animated{
    opacity: 1;
}
</style>