---
import '@fontsource/ibm-plex-sans';

import '@fontsource-variable/open-sans';
---

<!--------------------------------------HTML----------------------------------------------->
<html>

<body class="bg-white">

<!------------------------------------------------------ FORM ------------------------------------------------------>
<div>

    <hr class="animate__animated animate__fadeInUp w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700">

    <h1 class="titulo_form text-center text-gray-600 py-14 text-3xl lg:text-4xl">¡Obtenga un asesoramiento hoy!</h1>

    <div class="form1 w-screen">
        <form id="formContact" onsubmit="return enviarFormulario(event)">
            <label class="font-bold" for="nombre">Nombre y Apellido</label>
            <input type="text" name="nombre" class="form-control rounded-lg" placeholder="Ingrese su nombre completo" required>
            <div class="alert alert-danger mt-2" id="nombreError" hidden>
                El nombre es obligatorio
            </div>

            <label class="font-bold" for="email">Correo electrónico</label>
            <input type="email" name="email" class="form-control rounded-lg" placeholder="Ingrese su correo electrónico" required>
            <div class="alert alert-danger mt-2" id="emailError" hidden>
                El correo es obligatorio
            </div>

            <label class="font-bold" for="telefono">Teléfono</label>
            <input type="tel" name="telefono" class="form-control rounded-lg" placeholder="Ingrese su número de teléfono" required>
            <div class="alert alert-danger mt-2" id="telefonoError" hidden>
                El Teléfono es obligatorio
            </div>

            <label class="font-bold" for="notas">Nota</label>
            <textarea name="notas" rows="4" class="border"></textarea>
            <br>
            
            <button class="botonForm btn rounded-full" type="submit">
                Reservar cita
            </button>
        </form>
    </div>
</div>

<!-----------------------------------------BODY MAIN---------------------------------------------->
</body>
</html>

<!--------------------------------------ESTILOS CSS----------------------------------------------->
<style is:global>

.divider {
    margin: 2rem 0;
}

/********** CENTRAR FORMULARIO ***********/

.form1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid lightgrey ;
}

.alert {
    color: red;
}

.botonForm {
    background-color: #f47d1f;
    color: white;
    padding: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/************ ESTILOS PARA ANIMACIÓN ***********/
.form1, .titulo_form{
    opacity: 0;
}

.form1.animate__animated, .titulo_form.animate__animated{
    opacity: 1;
}

.form1{
    animation-delay: 0.3s;
}

</style>

<script>
    function enviarFormulario(event) {
        event.preventDefault();
        
        const form = event.target;
        const nombre = form.nombre.value;
        const email = form.email.value;
        const telefono = form.telefono.value;

        let isValid = true;

        // Validar nombre
        if (!nombre) {
            document.getElementById('nombreError').hidden = false;
            isValid = false;
        } else {
            document.getElementById('nombreError').hidden = true;
        }

        // Validar email
        if (!email) {
            document.getElementById('emailError').hidden = false;
            isValid = false;
        } else {
            document.getElementById('emailError').hidden = true;
        }

        // Validar teléfono
        if (!telefono) {
            document.getElementById('telefonoError').hidden = false;
            isValid = false;
        } else {
            document.getElementById('telefonoError').hidden = true;
        }

        // Si el formulario es válido, enviar la solicitud
        if (isValid) {
            // Lógica para enviar la solicitud
            console.log('Formulario enviado');
        }
    }
</script>