
<!--------------------------------------HTML----------------------------------------------->
<html>

<body class="bg-white">

<!-----------------------------------------NUESTROS SERVICIOS---------------------------------------------->
<div class="container2">

    <hr class="animate__animated animate__fadeInUp w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700">

    <h1 class="animate__animated animate__fadeInUp text-center text-gray-600 py-12 text-4xl lg:text-5xl font-semibold">Nuestros servicios</h1>

    <div class="contenedor cableado_estr">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-5.gif" data-object-fit="cover">
      <div class="centrado text-3xl lg:text-6xl">Cableado estructurado y networking</div>
        <a class="botonServicio rounded-full" href="/cableado-estructurado">
          Conoce más 
        </a> 
    </div> 

    <div class="contenedor control_acceso">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-2.gif" data-object-fit="cover">
      <div class="centrado text-4xl lg:text-6xl">Control de acceso y cerraduras hoteleras</div>
        <a class="botonServicio rounded-full" href="/control-acceso">
          Conoce más 
        </a>
    </div>

    
    <div class="contenedor data_center">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://res.cloudinary.com/df5olfhrq/image/upload/v1731083325/kqd0ahao19wcjp2rfcbk.gif" data-object-fit="cover">
      <div class="centrado text-4xl lg:text-6xl"> Data Center </div>
        <a class="botonServicio rounded-full" href="/data-center">
          Conoce más 
        </a>
    </div>

    <div class="contenedor deteccion_inc">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-7.gif" data-object-fit="cover">
      <div class="centrado text-4xl lg:text-6xl">Detección y extinción de incendios</div>
        <a class="botonServicio rounded-full" href="/deteccion-incendio">
          Conoce más 
        </a> 
    </div>

    <div class="contenedor distr_audio">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-6.gif" data-object-fit="cover">
      <div class="centrado text-4xl lg:text-6xl"><p>Distribución de audio y video</p></div>
        <a class="botonServicio rounded-full" href="/distribucion-audio-video">
          Conoce más 
        </a> 
    </div>

    <div class="contenedor diseno_consultoria">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://res.cloudinary.com/df5olfhrq/image/upload/v1731082962/Diseno%20y%20consultoriad.gif" data-object-fit="cover">
      <div class="centrado text-4xl lg:text-6xl"> Diseño y consultoría de proyectos </div>
        <a class="botonServicio rounded-full" href="/diseno-consultoria">
          Conoce más 
        </a>
    </div>

    <div class="contenedor iot_auto">
      <img loading="lazy" height="400" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-3-2.gif" data-object-fit="cover">
      <div class="centrado text-5xl lg:text-6xl">Edificios inteligentes, automatización, IA / IoT</div>
        <a class="botonServicio rounded-full" href="/iot-automatizacion">
          Conoce más 
        </a> 
    </div>

    <div class="contenedor video_vig">
      <img loading="lazy" class="imagenFondo" alt="" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/download-8.gif" data-object-fit="cover">
      <div class="centrado text-4xl lg:text-6xl">Videovigilancia (nube- IA)</div>
        <a class="botonServicio rounded-full" href="/videovigilancia">
          Conoce más 
        </a> 
    </div>

</div>

<!------------------------------------------------------ IMAGENES PROMOCIONALES DEL SITIO ------------------------------------------------------>
<hr class="animate__animated animate__fadeInUp w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700">

<section class="py-12">
  <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

          <div class="vertical1 relative">
              <img alt="" class="w-full h-96 object-cover rounded-xl" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/ezgif.com-video-to-gif-converter.gif"/>
              <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-xl">
                  <h3 class="text-white text-4xl text-center">
                      Diseño y Auditoría de proyectos
                  </h3>
              </div>
          </div>

          <div class="vertical2 relative">
              <img alt="" class="w-full h-96 object-cover rounded-xl" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/18031-287831468_small-ezgif.com-video-to-gif-converter.gif" />
              <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-xl">
                  <h3 class="text-white text-4xl">
                      Implementación
                  </h3>
              </div>
          </div>

          <div class="vertical3 relative">
              <img alt="" class="w-full h-96 object-cover rounded-xl" src="https://webtest832.wordpress.com/wp-content/uploads/2024/05/serviciotecnico-ezgif.com-video-to-gif-converter.gif" />
              <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-xl">
                  <h3 class="text-white text-4xl">
                      Servicio Técnico
                  </h3>
              </div>
          </div>

      </div>
  </div>
</section>

<!-----------------------------------------BODY MAIN---------------------------------------------->
    </main>

    <!-- SCRIPT JQUERY CDN -->	
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        
    <!-- SCRIPT WAYPOINTS CDN -->	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- SCRIPT SCROLL -->	
    <script src="../js/scroll.js"></script>

</body>
</html>

<!--------------------------------------ESTILOS CSS----------------------------------------------->
<style is:global>
/************ NUESTROS SERVICIOS ************/

@media (min-width: 100%) {
    .container2{
        max-width: 100%;
    }
}

.contenedor{
    position: relative;
    text-align: center;
}

.imagenFondo{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);  /* 60% de brillo */
    height: 493px; 
    padding-bottom: 60px;
}

.centrado{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.botonServicio{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background-color: #f47d1f;
    padding: 18px;
    font-weight: bold;
}


/************ ESTILOS PARA ANIMACIÓN ***********/
.video_vig, 
.control_acceso, 
.iot_auto, 
.deteccion_inc, 
.cableado_estr, 
.distr_audio,
.data_center,
.diseno_consultoria,
.vertical1, 
.vertical2, 
.vertical3{
    opacity: 0;
}

.video_vig.animate__animated, 
.control_acceso.animate__animated, 
.iot_auto.animate__animated,
.deteccion_inc.animate__animated, 
.cableado_estr.animate__animated, 
.distr_audio.animate__animated,
.data_center.animate__animated, 
.diseno_consultoria.animate__animated, 
.vertical1.animate__animated, 
.vertical2.animate__animated, 
.vertical3.animate__animated{
    opacity: 1;
}


.vertical1{
  animation-delay: 0.1s;
}

.vertical2{
  animation-delay: 0.2s;
}

.vertical3{
  animation-delay: 0.3s;
}

/*
.cableado_estr{
  animation-delay: 0.5s;
}

.distr_audio{
  animation-delay: 0.5s;
}
*/
</style>