---
import NavMain from "../components/navbar-main.astro"

import Footer from "../components/footer.astro"

import '@fontsource/outfit/200.css';
---

<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href=" /public/images/short-logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Block Security</title>

        <!-- TAILWIND -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

        <!-- FLOWBITE  -->
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

        <!-- ICONS -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

        <!-- CLOUDFLARE -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

        <!-- ANIMATE CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        
    </head>

    <body>
        <NavMain />

        <!--------------------------------------->
        <main class="container mx-auto px-4 py-16 text-center mt-14">
            <slot name="encabezado">
                <!-- Contenido principal se renderiza aquí desde otros componentes -->
            </slot>

            <!-- SECCIÓN DE VIDEOS -->
            <hr class="animate__animated animate__fadeInUp w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700">
            
            <div class="container mx-auto px-4 py-8">
                
                <h1 class="animate__animated animate__fadeInUp text-4xl font-semibold text-center mb-16">
                    Videos Aplicativos
                </h1>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                    <slot name="videos">
                        <!-- Cada video se renderiza aquí desde otros componentes -->
                    </slot>
                </div>

            </div>

            <!-- LINKS DE NAVEGACIÓN -->
            <div class="flex justify-end mt-10">
                <slot name="navegacion">
                    <!-- Links de navegación adicionales se renderizan aquí -->
                </slot>
            </div>

        </main>
        
        <Footer />

        <!-- SCRIPT FLOWBITE -->	
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

        <!-- SCRIPT JQUERY CDN -->	
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <!-- SCRIPT WAYPOINTS CDN -->	
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- SCRIPT SCROLL -->	
        <script src="../js/scroll.js"></script>

    </body>
</html>



<style>

body {
    font-family: 'Outfit', sans-serif;
}

</style>
